@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";

* {
  font-family: "Hind";
}

body {
  @apply dark:bg-black dark:text-white
}

.gradient-circle {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  top: -30px;
  height: 40px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    rgba(248, 107, 223, 1) 0%,
    rgba(107, 107, 248, 0.8) 100%
  );
}
.gradient-circle-bottom {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  bottom: -20px;
  height: 30px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    rgba(248, 107, 223, 1) 0%,
    rgba(107, 107, 248, 0.8) 100%
  );
}

.gradient-shadow:hover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #45caff 0%, #ff1b6b 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.gradient-shadow:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.header-container {
  display: flex;
  align-items: flex-start; /* Align items at the start of the container */
}

.header-texts {
  flex: 1; /* Take up available space */
}

.header-container img {
  margin-left: 20px; /* Space between text and image */
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Blinking cursor effect */
@keyframes blink {
  50% { border-color: transparent; }
}

/* Container class for typewriter effect */
.typewriter {
  font-family: 'Courier', monospace; /* You can change the font if needed */
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid; /* Simulates the cursor */
  width: 0; /* Start width to trigger typing animation */
  animation: typing 4.5s steps(40, end), blink 0.75s step-end infinite; /* Adjust timing as needed */
}
